body {
	/* background-color:#f6feff; */
    
}

div.background {
    position: fixed;
    /* top: -50%;
    left: -50%; */
    width: 200%;
    /* height: 200%; */
  }
  
  .background img {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }







.navbar {
    position: sticky;
    top: 0;
}


.nav-link {
    color: rgb(4, 4, 4);
    margin-left: 100px;
}

.nav-link:hover {
    background-color: rgb(226, 218, 205);
}



.navbar-brand img {
    width: 300px;
}

.navbar-text {
    margin-left: 100px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    color: black;
}

.container-fluid {
    text-align: center;
}

.foto img {
    width: 500px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-cover {
    width: 500px;
    height: 500px;
    margin-left: 700px;
    margin-top: 0;

}



.carousel-control-prev-icon {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 230%;
    transform: translate(-50%, -50%);
}

.carousel-control-next-icon {
    width: 500px;
    position: absolute;
    top: 50%;
    right: 57%;
    transform: translate(-50%, -50%);
}

.w-100 {
    max-height: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}




