body {
	background-color:#f6feff;}


.navbar {
    position: sticky;
    top: 0;
}

.nav-link {
    color: rgb(4, 4, 4);
    margin-left: 100px;
}

.nav-link:hover {
    background-color: rgb(226, 218, 205);
}

.navbar-brand img {
    width: 300px;
}

.navbar-text {
    margin-left: 100px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    color: black;
}

.navbar-nav .nav-link.active {
    color: rgb(250, 128, 5);
}