body {
    background-color: #f6feff;
}


.navbar {
    position: sticky;
    top: 0;
}

.nav-link {
    color: rgb(4, 4, 4);
    margin-left: 100px;
}

.nav-link:hover {
    background-color: rgb(226, 218, 205);
}

.navbar-brand img {
    width: 300px;
}

.navbar-text {
    margin-left: 100px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    color: black;
}

.navbar-nav .nav-link.active {
    color: rgb(250, 128, 5);
}

* {
    box-sizing: border-box;
}







.delivery_text {

    font-size: 30px;
}




header {
    background-color: #007BFF;
    color: white;
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    margin: 0;
}

.table h2 {
    padding: 10px 15%;
    background-color: #f9f9f9;
    text-align: center;

}

.table1 {
    text-align: center;
    margin-bottom: 13px;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


    gap: 3px;

}

.table1 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 50%;
    margin-left: 150px;
    max-width: 200px;
    margin-bottom: 1px;
    /* text-align: left; */
    padding: 14px;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.table1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table1 h3 {
    font-size: 14px;
    margin: -10px 0;
    color: #007BFF;
}


.table1 {
    cursor: pointer;
}

.table1.selected {
    background-color: #f0c040;
    /* Цвет выделенной строки */
}

.wrapper {
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    margin-left: 680px;
    margin-top: -600px;
    /* justify-content: center; */

}

.map_wrapper {
    display: inline-block;
    overflow: hidden;
    /* Скрываем всё за контуром */
}

.map_wrapper {
    transition: 1s;
    /* Время эффекта */
    display: block;
}

.map_wrapper:hover {
    transform: scale(1.8);
    /* Увеличиваем масштаб */
}

.map_wrapper {
    max-width: 550px;
    position: relative;


}

.map_wrapper svg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


svg .region {
    fill: none;
    /* stroke: #000000; */

    transition: fill 0.3s;
    stroke: rgb(0, 0, 0);
    stroke-width: 7px;
    cursor: pointer;
    pointer-events: all;
    opacity: 0.7;
    /* fill: rgb(201, 165, 97); */
    transition: 0.3;
}

svg .region:hover {
    fill: #ebab08;
    /* Подсветка при наведении на область */
    opacity: 0.8;
    transition: 0.3;
}

svg .region.selected {
    fill: #9e8c72;
    /* Цвет выделенной области */
}